export(limma_standard)
export(read_exprs_mat)
export(write_gea)
importClassesFrom(Biobase,AnnotatedDataFrame)
importClassesFrom(Biobase,ExpressionSet)
importFrom(data.table,fread)
importFrom(limma,eBayes)
importFrom(limma,lmFit)
importFrom(limma,makeContrasts)
importFrom(limma,model.matrix)
importFrom(limma,topTable)
importFrom(RCurl,getURL)
importFrom(Rlabkey,labkey.selectRows)
importFrom(Rlabkey,makeFilter)
importFrom(Rlbakey,labkey.importRows)
